<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
    <!-- Bootstrap core CSS -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
    <!-- Material Design Bootstrap -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.8.7/css/mdb.min.css" rel="stylesheet">
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}
</head>

<body>
    <!--Navbar -->
    <header>
        <nav class="mb-1 navbar navbar-expand-lg navbar-dark elegant-color-dark lighten-1">
            <a class="navbar-brand" href="{{ path('home') }}">Cookie And Books</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse"
                data-target="#navbarSupportedContent-555" aria-controls="navbarSupportedContent-555"
                aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent-555">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="{#{{ path('blog') }}#}">BD / Manga
                        </a>
                    </li>
                </ul>
                <ul class="navbar-nav ml-auto nav-flex-icons">
                {% if app.user %}
                <li class="nav-item">
                        <a href="{{ path('user_logout') }}" class="btn btn-outline-danger" role="button" aria-pressed="true">Déconnexion</a>
                    </li>
                    <li class="nav-item avatar pr-3">
                        <a href="#" class="btn btn-primary" role="button" aria-pressed="true">Publier</a>
                    </li>
                    <li class="nav-item avatar">
                        <a class="nav-link" href="#">
                            <img src="https://mdbootstrap.com/img/Photos/Avatars/avatar-5.jpg"
                                class="rounded-circle z-depth-0" alt="avatar image" height="35">
                        </a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a href="{{ path('user_registration') }}" class="btn btn-outline-danger" role="button" aria-pressed="true">Inscription</a>
                    </li>
                    <li class="nav-item">
                    <a href="{{ path('user_login') }}" class="btn btn-success" role="button" aria-pressed="true">Connexion</a>
                    </li>
                {% endif %}
                </ul>
            </div>
        </nav>
    </header>

    <!--/.Navbar -->
    <div class="wrapper-content container pt-3 ">
    {% block body %}{% endblock %}
    </div>
    {% block javascripts %}
    {{ encore_entry_script_tags('app') }}
    {% endblock %}
</body>

</html>