{% extends "base.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('profileCss') }}
{% endblock %}

{% block body %}

{% set domaine = 'http://127.0.0.1:8000' %}
{% if user.banner != NULL %}{% endif %}

<div class="row">
    <div class="profile">
        <header style="" class="header_profile">
        <div class="wrapper-banner-profile bg-cover" style="background-image: url('{{domaine}}/uploads/{{user.username}}/banner/{{user.banner}}');">
            {# <img src="{% if user.banner != NULL %}{{domaine}}/uploads/{{user.username}}/banner/{{user.banner}}{% endif %}" alt="" class="banner-profile bg-cover"> #}
            <div class="gradiant-banner-profile"></div>
        </div>

        <div class="wrapper-info-profile">
            {# <img class="avatar_profile m-2" src="" alt=""> #}
            <div class="avatar_profile m-2 bg-cover" style="background-image: url('{% if user.avatar != NULL %}{{domaine}}/uploads/{{user.username}}/avatar/{{user.avatar}}{% endif %}')"></div>
            <div class="info_profile mb-1">
                <h3 class="p-1" style="">{{user.username}}</h3>
                <div class="social">
                    <button class="btn btn-success">Follow</button>
                    <button class="btn btn-danger">like</button>
                </div>
            </div>
        </div>
            <div class="number_profile col  pl-0 mb-3 " style="text-align: center;">
                <div class="follow pr-4">
                    <p class="m-0">5.2k</p>
                    <p class="m-0">Followers</p>
                </div>
                <div class="like pl-4">
                    <p class="m-0">300</p>
                    <p class="m-0">Likes</p>
                </div>
            </div>

        </header>
        <nav class="nav-profile col">
            {% if is_user %}
            <a href="{{path('user_edit', {'username': app.user.username})}}" class="profile-button btn btn-primary">Profile Edite</a>
            {% endif %}
        </nav>
    </div>
</div>




{% endblock %}
