{% extends "base.html.twig" %}

{% block body %}

{{ form_start(formResetPassword) }}
    <pre>
        {{ dump(token) }}
    </pre>
    {% if token %}
        {{ form_row(formResetPassword.new_password) }}
        {{ form_row(formResetPassword.confirm_new_password) }}
        {{ form_row(formResetPassword._token) }}
    {% else %}
        {{ form_row(formResetPassword.reset_password_email) }}
        {{ form_row(formResetPassword._token) }}
    {% endif %}

<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}" />
    <button class="btn btn-info my-4 btn-block" type="submit">Envoyer</button>

{{ form_end(formResetPassword, {'render_rest': false}) }}
{% endblock %}